<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<h1>Database for ACP Brevet Times</h1>

{% for item in items %}
  <h1> {{ item.km }} km </h1>
  <p> Opening Time: {{ item.open }} <p>
  <p> Closing Time: {{ item.close }} <p>

{% endfor %}
